.header {
    width: 100%;
    height: 60px;
    background: rgb(38, 39, 28);
    position: fixed;
    border-bottom: 1px solid #ccc;

    &__link {
        text-decoration: none;
    }

    &__title {
        margin: 0 20px;
        color: #fff;
    }
}

.job {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
}


.form {
    // width: 50%;
    background-color: blue;
    &__label {
        font-size: 0.9rem;
        padding: 0.5rem 0;
        text-transform: capitalize;
    }

    &__select {
        padding: 0.5rem;
        border-radius: 5px;
        background-color: whitesmoke;
        font-family: inherit;

        &:focus {
            outline: none;
        }
    }

    &__option {
        font-family: inherit;
    }

    &__input {
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 5px;
        border: 0.2px solid $color-black;

        &::-webkit-input-placeholder {
            font-size: 0.9rem;
        }

        &:focus {
            outline: none;
            border: 0.5px solid black;
            border-radius: 5px;
        }
    }
}

.btn {
    &:link,
    &:visited {
        display: inline-block;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
    }

    &--lg {
        width: 100%;
        padding: 0.5rem;
    }

    &--sm {
        padding: 0.3rem;
    }

    &--primary {
        background-color: royalblue;
    }

    &--danger {
        background-color: red;
    }

    &--dark {
        background-color: black;
        color: white;
    }

    &--grey {
        background-color: rgb(237, 250, 237);
        color: black;
    }
}

.card {
    border-radius: 5px;
    // border: 2px solid rgb(0, 255, 13);

    &:hover {
        box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.041), 0 6px 20px 0 rgba(0, 0, 0, 0.062);
    }

    &__image-body {
        width: 9%;
        display: flex;
    }

    &__image {
        border-radius: 500px;
    }

    &__content {
        padding: 0.5rem;
    }
}

@media screen and (max-width: 800px) {
    // .main-content {
    //     flex-direction: column;
    // }

    // .form {
    //     width: 100%;
    //     border: 1px solid red;
    // }
}
