//Margin  utilities
.mar-1 {
    margin: 1rem;
}

.mar-sm {
    margin: 1rem;
}

.mar-md {
    margin: 1rem;
}

.mar-lg {
    margin: 1rem;
}

// Margin top *SM utilities
.mt-sm {
    margin-top: 0.5rem;
}

.mt-md {
    margin-top: 1rem;
}

.mt-lg {
    margin-top: 1.5rem;
}

// Margin bottom  utilities
.mb-sm {
    margin-bottom: 0.5rem;
}

.mb-md {
    margin-bottom: 1rem;
}

.mb-lg {
    margin-bottom: 1.5rem;
}

// Padding right  utilities
.mr-sm {
    margin-bottom: 0.5rem;
}

.mr-md {
    margin-bottom: 1rem;
}

.mr-lg {
    margin-bottom: 1.5rem;
}

// Margin left  utilities
.ml-sm {
    margin-bottom: 0.5rem;
}

.ml-md {
    margin-bottom: 1rem;
}

.ml-lg {
    margin-bottom: 1.5rem;
}

// Padding top utilities
.pt-sm {
    margin-top: 0.5rem;
}

.pt-md {
    margin-top: 1rem;
}

.pt-lg {
    margin-top: 1.5rem;
}

// Padding bottom  utilities
.pb-sm {
    margin-bottom: 0.5rem;
}

.pb-md {
    margin-bottom: 1rem;
}

.pb-lg {
    margin-bottom: 1.5rem;
}

// Padding right  utilities
.pr-sm {
    margin-bottom: 0.5rem;
}

.pr-md {
    margin-bottom: 1rem;
}

.pr-lg {
    margin-bottom: 1.5rem;
}

// Padding left  utilities
.pl-sm {
    margin-bottom: 0.5rem;
}

.pl-md {
    margin-bottom: 1rem;
}

.pl-lg {
    margin-bottom: 1.5rem;
}

// Padding around (par)
.par-sm {
    padding: 0.5rem;
}

.par-md {
    padding: 1rem;
}

.par-lg {
    padding: 1.5rem;
}


// Text Utilities
.text-white {
    color: $color-white;
}

.text-black {
    color: $color-black;
}

.border-black{
    border: 1px solid $color-black
}

.rounded{
    border-radius: 5px;
}