@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Noto+Sans&display=swap");

/* Font family */
$font-family-dosis: "Dosis", sans-serif;
$font-family-noto: "Noto Sans", sans-serif;
$font-family-encode: "Encode Sans Semi Condensed", sans-serif;


/* Color palette */
$color-primary: #55c57a;
$color-primary-light: #7ed567;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;
